<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sagar Music{% endblock %}</title>
    <!--LOADS STATIC PATHS-->

{% load staticfiles %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type ="text/css" href="{% static 'music/style.css' %}"/>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topNavBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'music:index'%}">Sagar</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="topNavBar">
      <ul class="nav navbar-nav">
        <li class="active">
            <a href="#">
                <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp;Albums
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp;Songs
            </a>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role = "search" method="get" action="#">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
        <ul class="nav navbar-nav navbar-right">
             <li>
                <a href="#">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add Albums
                </a>
            </li>
             <li>
                <a href="#">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Logout
                </a>
             </li>

        </ul>

    </div>
  </div>
</nav>

{% block body %}
{% endblock %}
</body>
</html>